* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Patrick Hand", cursive;
  background-image: url(images/gary-bendig-6GMq7AGxNbE-unsplash.jpg);
  background-size: cover;
}

h1 {
  font-size: 1.8rem;
  padding: 1em;
  color: rgb(221, 219, 216);
}

h2 {
  font-size: 1.2rem;
  color: rgb(126, 101, 69);
}

#bandeau {
  width: auto;
  background-color: rgba(252, 252, 238, 0.425);
  border-radius: 7px;
}

img {
  padding: 1rem;
  height: 6rem;
}

.initial-settings {
  height: 40rem;
  background-size: cover;
}

#formulaire {
  background-color: rgba(230, 230, 215, 0.5);
  width: 15rem;
  padding: 2rem;
  margin-left: 10%;
  border-radius: 20px;
  color: rgb(126, 101, 69);
  box-shadow: 1px 1px 15px 0.5px rgb(95, 94, 94);
}

form.form {
  display: table;
}

div.form {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin: 1rem 0rem;
}

input[type="submit"] {
  background-color: rgb(211, 117, 9);
  padding: 1rem;
  position: relative;
  left: 75%;
  margin-top: 1.5rem;
  color: aliceblue;
  border-radius: 10px;
}
